<!DOCTYPE html>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="MultiTools" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/category/image-tools">Image Tools</a></li>
                            <li><a class="dropdown-item" href="/category/seo-tools">SEO Tools</a></li>
                            <li><a class="dropdown-item" href="/category/text-tools">Text Tools</a></li>
                            <li><a class="dropdown-item" href="/category/developer-tools">Developer Tools</a></li>
                            <li><a class="dropdown-item" href="/category/calculators">Calculators</a></li>
                            <li><a class="dropdown-item" href="/category/converters">Unit Converters</a></li>
                            <li><a class="dropdown-item" href="/category/security">Security Tools</a></li>
                            <li><a class="dropdown-item" href="/category/social">Social Media Tools</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex search-form">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." id="searchInput">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 